* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul.menu-mobile,
#menu-mini {
    display: none;
}

.header {
    height: 5rem;
    display: flex;
    padding: 0 1rem;
    background-color: #000;
}
.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    height: 100%;
}
.menu_items {
    list-style-type: none;
    margin-left: 2rem;
    height: 100%;
}
.url_item {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1ch;
    height: 100%;
    transition: 500ms;
}
.url_item:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 770px) {
    .menu-right {
        display: none;
    }
    #menu-mini {
        display: block;
    }
    .sub-menu {
        background-color: #000;
        padding: 1ch 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        display: none;
    }
    .sub-menu_items {
        height: initial;
        width: 100%;
    }
    .sub-url_item {
        padding: 1ch;
    }
    .url_menu-desplegable {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 9.2rem;
    }
    .menu-desplegable:hover .sub-menu {
        display: flex;
    }
}
@media screen and (max-width: 580px) {
    #menu-left,
    #menu-center,
    #menu-mini {
        display: none;
    }
    ul.menu-mobile {
        display: block;
    }
    .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    span.material-symbols-outlined {
        color: #fff;
    }
    ul.menu-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .url_menu-desplegable {
        height: 100%;
        min-width: 5rem;
    }
    span.url_menu-desplegable:hover {
        color: #000;
        background-color: #fff;
    }
    .sub-menu-mobile {
        width: 100%;
        padding: 1rem;
        position: absolute;
        top: 5rem;
        left: 0;
        background-color: black;
        
        display: none;
    }
    .mobile-url_item {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 1ch;
        transition: 500ms;
    }
    .mobile-url_item:hover {
        color: #000;
        background-color: #fff;
        font-weight: 500;
    }
    .activa-sub-menu:hover .sub-menu-mobile {
        display: block;
    }
}